.Slider {

	&--sliderSize {
		position: relative;
		width: 50%;
		height: 100%;
		background: #f8f8f8;
		border-radius: 3px 0 0 3px;
	}

	&-image {
		position: absolute;
		z-index: -1;

		&--imageSize {
			width: 100%;
			height: 100%;
		}
	}

	&-cartoon {

		&--cartoonSize {
			width: 100%;
			height: 100%;
		}
	}

	&-radio{
		display: none;
	}

	&-preCartoon, &-nextCartoon {
		width: 12%;
		height: 100%;
		position: absolute;
		top: 0;
		background: rgba(88, 88, 88, 0);
		z-index: 99;
		cursor: pointer;
	}

	&-preCartoon {
		left: 0;
	}

	&-nextCartoon {
		right: 0;
	}

	&-nav{
		width: 100%;
		height: 11px;
		bottom: 30px;
		position: absolute;
		text-align: center;
		z-index: 99;
	}

	&-dots {
		top: -5px;
		width: 10px;
		height: 10px;
		margin: 0 4px;
		position: relative;
		border-radius: 50%;
		display: inline-block;
		background: rgba(0, 0, 0, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	#i1:checked ~ #first,
	#i2:checked ~ #second,
	#i3:checked ~ #third,
	#i4:checked ~ #fourth {
		z-index: 9;
	}

	#i1:checked ~ .Slider-nav #dot1,
	#i2:checked ~ .Slider-nav #dot2,
	#i3:checked ~ .Slider-nav #dot3,
	#i4:checked ~ .Slider-nav #dot4 {
		background: linear-gradient(to top, #ff8c1d, #ffab04);
	}
}
