.Footer {

	&--footerPosition {
		width: 960px;
		margin: 0 auto;
		margin-top: 80px;
		height: 542px;
	}

	&-footerHorizontal {

		&--horizontalPosition {
			border: none;
			color: #cfcfcf;
			background-color: #cfcfcf;
			height: 1px;
			margin: 50px 0 21px 0;
		}
	}
}
