@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&subset=cyrillic-ext');

.Text {

	&-formHeading {
		font-family: 'Source Sans Pro', sans-serif;

		&--headingSize {
			font-size: 44px;
			margin: 28px 0 0 22px;
			background: -webkit-linear-gradient(#eee, #ff800c);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&-formText {

		&--formFirstTextSize {
			font-size: 18px;
			color: #666666;
			margin: 40px 0 0 24px;
		}

		&--formSecondTextSize {
			font-size: 18px;
			color: #666666;
			margin: 40px 0 0 10px;
		}
	}

	&-roundPictureHiddenText {
		font-family: 'Source Sans Pro', sans-serif;

		&--roundPictureHiddenTextSize{
			font-size: 31px;
			color: #4e4e4e;
			margin-bottom: 34px;
		}
	}

	&-roundPictureText {
		font-family: 'Source Sans Pro', sans-serif;

		&--roundPictureTextSize {
			font-size: 14px;
			line-height: 20px;
			color: #4e4e4e;
			text-align: justify;
		}
	}
}
