.InfoForm {

	&--infoSize {
		width: 50%;
		height: 100%;
	}

	&-searchType, &-nameType {
		display: flex;
	}

	&-radioContainer {

		&--radioFirstPosition {
			margin: 35px 0 0 69px;
		}

		&--radioSecondPosition {
			margin: 35px 0 0 15px;
		}
	}

	&-searchTypeIcon {

		&--searchIcon{
			width: 15px;
			height: 15px;
			margin: 43px 0 0 13px;
		}
	}

	&-nameForm {

		&--nameFormSize {
			height: 36px;
			width: 318px;
			margin: 25px 0 0 55px;
			box-sizing: border-box;
			border: 1px solid #eeabab;
			border-radius: 20px;
		}
	}
}
